.header {
  width: 15rem;
  height: 1.72rem;
  background-color: #07771c;
  position: relative;
}
.header a {
  color: #ffffff;
  display: inline-block;
  height: 1.72rem;
  font-size: 1.2rem;
  left: 0.4rem;
  position: absolute;
}
.header h3 {
  font-size: 0.8rem;
  color: #ffffff;
  width: 4.2rem;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.72rem;
}
.header .toggle_menu {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 1.28rem;
  height: 0.2rem;
  content: "";
  background-color: #ffffff;
  box-shadow: 0 .34rem 0 0 #fff,0 .68rem 0 0 #fff;
}
.middle {
  padding-bottom: 2.4rem;
}
.middle .post_info {
  font-size: 0.56rem;
  color: #333333;
  text-indent: 0.32rem;
  line-height: 1rem;
  border-bottom: 0.02rem solid #07771c;
}
.middle .order_info {
  font-size: 0.48rem;
  color: #666666;
  line-height: 1.2rem;
}
.middle .order_info .order_item {
  font-size: 0.48rem;
  padding-left: 0.4rem;
  overflow: hidden;
}
.middle .order_info .order_item .orderId_tag {
  float: left;
}
.middle .order_info .order_item .orderId_tag .orderId {
  color: #07771c;
}
.middle .order_info .order_item .orderTime_tag {
  float: right;
}
.middle .order_list {
  background-color: #f2f2f2;
  font-size: 0;
  padding-left: 0.4rem;
}
.middle .order_list li {
  padding-top: 0.6rem;
  overflow: hidden;
}
.middle .order_list li .pro_img {
  float: left;
}
.middle .order_list li .pro_img a img {
  width: 4.4rem;
  height: 4.4rem;
  margin-right: 0.6rem;
}
.middle .order_list li .pro_details {
  float: left;
  width: 9.4rem;
}
.middle .order_list li .pro_details h3 {
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
  transform: translateY(-0.2rem);
}
.middle .order_list li .pro_details h3 a {
  font-size: 0.56rem;
  color: #111010;
  vertical-align: top;
  line-height: 0.92rem;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.middle .order_list li .pro_details .weight_tag,
.middle .order_list li .pro_details .color_tag {
  font-size: 0.48rem;
  color: #666666;
  height: 0.8rem;
  line-height: 0.8rem;
}
.middle .order_list li .pro_details .weight_tag span,
.middle .order_list li .pro_details .color_tag span {
  margin-left: 0.16rem;
}
.middle .order_list li .pro_details .purchase_info {
  overflow: hidden;
  color: #07771c;
}
.middle .order_list li .pro_details .purchase_info .price_tag {
  font-size: 0.48rem;
  float: left;
}
.middle .order_list li .pro_details .purchase_info .price_tag .price {
  font-size: 0.8rem;
}
.middle .order_list li .pro_details .count_tag {
  float: right;
  font-size: 0.48rem;
  color: #333333;
  margin-right: 0.6rem;
}
.middle .order_list li .pro_details .count_tag .count {
  margin-left: 0.36rem;
}
.footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 1.8rem;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  padding-left: 0.4rem;
  line-height: 1.8rem;
  color: #333333;
}
.footer .total {
  color: #07771c;
}
.footer button {
  background-color: #07771c;
  color: #ffffff;
  width: 5.4rem;
  height: 100%;
  font-size: 0.8rem;
  text-align: center;
}
