.header {
  width: 15rem;
  height: 1.72rem;
  background-color: #07771c;
  position: relative;
}
.header a {
  color: #ffffff;
  display: inline-block;
  height: 1.72rem;
  font-size: 1.2rem;
  left: 0.4rem;
  position: absolute;
}
.header h3 {
  font-size: 0.8rem;
  color: #ffffff;
  width: 4.2rem;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.72rem;
}
.header .toggle_menu {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 1.28rem;
  height: 0.2rem;
  content: "";
  background-color: #ffffff;
  box-shadow: 0 .34rem 0 0 #fff,0 .68rem 0 0 #fff;
}
.middle {
  width: 15rem;
}
.middle .login {
  padding: 2.8rem 0.76rem 4.4rem 0.72rem;
}
.middle .login .user_wrap,
.middle .login .password_wrap {
  height: 2.84rem;
}
.middle .login .user_wrap label,
.middle .login .password_wrap label {
  font-size: 0.8rem;
  color: #333333;
  display: block;
  overflow: hidden;
  line-height: 1.88rem;
}
.middle .login .user_wrap label input,
.middle .login .password_wrap label input {
  float: right;
  width: 10.92rem;
  height: 1.84rem;
  outline: none;
  font-size: 0.8rem;
  line-height: 1.84rem;
  text-indent: 0.4rem;
  color: #333333;
}
.middle .login button {
  width: 11rem;
  height: 1.6rem;
  background-color: #07771c;
  font-size: 0.72rem;
  color: #ffffff;
  outline: none;
  border: none;
  line-height: 1.6rem;
  margin-left: 2.48rem;
}
.middle .login .others {
  margin-left: 2.52rem;
  font-size: 0;
  padding-top: 0.4rem;
  overflow: hidden;
}
.middle .login .others a {
  font-size: 0.48rem;
  color: #666666;
}
.middle .login .others a:last-child {
  float: right;
}
.middle .third_party {
  padding: 0rem 0.4rem 2.72rem 0.4rem;
}
.middle .third_party h4 {
  font-size: 0.76rem;
  color: #666666;
  font-weight: normal;
}
.middle .third_party div {
  margin-top: 1.6rem;
  display: flex;
  justify-content: space-between;
}
.middle .third_party div a img {
  width: 3.72rem;
  height: 3.72rem;
}
