.header {
  width: 15rem;
  height: 1.72rem;
  background-color: #07771c;
  position: relative;
}
.header a {
  color: #ffffff;
  display: inline-block;
  height: 1.72rem;
  font-size: 1.2rem;
  left: 0.4rem;
  position: absolute;
}
.header h3 {
  font-size: 0.8rem;
  color: #ffffff;
  width: 4.2rem;
  font-weight: normal;
  margin: 0 auto;
  line-height: 1.72rem;
}
.header .toggle_menu {
  position: absolute;
  right: 0.4rem;
  top: 0.4rem;
  width: 1.28rem;
  height: 0.2rem;
  content: "";
  background-color: #ffffff;
  box-shadow: 0 .34rem 0 0 #fff,0 .68rem 0 0 #fff;
}
